:root {
    --pumpkin: #F55F1D;
    --charcoal: #1E1E1E;
    --navy-blue: #024AA8;
    --scarlet: #F80606;
    --midnight-black: #1B1E20;
}

.hero-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



aside {
    background-color: rgba(27, 30, 32, 0.5);
    height: 100%;
    width: 47%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.data-wrapper {
    position: absolute;
    width: 80%;
    height: 529px;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    margin-bottom: 20px;
    /* background-color: red; */
}

.title {
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    line-height: 57px;
    margin-bottom: 50px;
}

.hero-description {
    color: white;
    font-size: 28px;
    font-weight: 700;
    line-height: 51px;
    margin-bottom: 50px;
}

.hero-btn {
    color: white;
    width: 373px;
    height: 71px;
    background-color: var(--pumpkin);
    border-radius: 12px;
    padding: 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}