:root {
    --pumpkin: #F55F1D;
    --charcoal: #1E1E1E;
    --navy-blue: #024AA8;
    --scarlet: #F80606;
    --midnight-black: #1B1E20;
}



.navbar-wrapper {
    /* mange the container */
    box-shadow: 0px 6px 6px 0px #00000040;
    height: 91px;
    background-color: white;
    width: 100%;

    /* mange the child */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



/* logo */
.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 93px;
    height: 63px;
}

.logo-text {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    text-transform: uppercase;
    color: var(--charcoal);
    text-wrap: nowrap;
}

.logo-span-text {
    color: var(--pumpkin);
}


/* links section */
.links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
}

.links-list {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 10px;
    text-wrap: nowrap;

}

.links {
    color: var(--midnight-black);
}

.selected-route {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--pumpkin);
    color: var(--pumpkin);
}

.links-list:hover {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--pumpkin);
    color: var(--pumpkin);
}



/* authentication section  */
.navbar-wrapper .auth {
    display: flex;
    gap: 30px;
}

.navbar-wrapper .auth button {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: var(--midnight-black);
    border: 1.15px solid #024AA8;
    height: 52.93px;
    border-radius: 12px;
    border-width: 1.15px;
    padding: 11.46px;
    text-align: center;
}

.navbar-wrapper .auth .login {
    width: 106.6px;
}

.navbar-wrapper .auth .register {
    width: 120.36px;
    background-color: var(--navy-blue);
    color: white;
}