:root {
    --pumpkin: #F55F1D;
    --charcoal: #1E1E1E;
    --navy-blue: #024AA8;
    --scarlet: #F80606;
    --midnight-black: #1B1E20;
    --flame: #F80606;
}

.ourvalue-wrapper,
.value-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ourvalue-wrapper {
    margin: 50px auto;
    width: 87%;
    gap: 100px;
}

.value-data {
    width: 837px;
}

.value-description {
    text-align: center;
}

.value-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.value__card-icon {
    width: 35px !important;
    height: auto;
}