@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root {
    --pumpkin: #F55F1D;
    --charcoal: #1E1E1E;
    --navy-blue: #024AA8;
    --scarlet: #F80606;
    --midnight-black: #1B1E20;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
p {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    /* background-color: red; */
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.list-image {
    list-style-image: url("./assets/list.svg");
    list-style-position: inside;
}


@media (max-width: 1025px) {
    .list-image {
        list-style-image: url("./assets/listsmall.svg");
    }
}

.gradient {
    background-image: linear-gradient(90deg, #F86BBD, #F55F1D);
    -webkit-background-clip: text;
    color: transparent;
}